.image {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: 70px;
    z-index: -1;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    margin-top: 105px;
    width: 350px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.info > p {
    color: yellow;
    font-size: 17px;
}

.conversation {
    width: 315px;
    height: 315px;
    background-color: aqua;
    z-index: 1;
}

.text {
    display: block;
}

.recommendation {
    display: none;
}

.auto-answer {
    display: none;
}

.tune-tone {
    display: none;
}

.final-answer {
    display: none;
}

@media screen and (max-width: 780px) {
    body {
        margin-top: 10px;
    }
}