.image {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: 70px;
    z-index: -1;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 100px;
    background-color: #F5F5F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.conversation {
    margin-top: 120px;
    width: 340px;
    height: 340px;
    z-index: 1;
}

/* TEXT */
.text {
    display: none;
}

.inbox {
    padding: 25px 25px 0px 25px;
    width: 250px;
}

.inbox > p {
    color: white;
    font-size: 14px;
}

.inbox > .inbox-text {
    color: black;
    background-color: white;
    font-size: 17px;
    border-radius: 7px;
}

.inbox > .inbox-text > p {
    padding: 7px;
}

/* RECOMMENDATION */
.recommendation {
    display: block;
}

.recommendation > hr {
    margin-top: 25px;
    margin-bottom: 20px;
}

.recommendation-box {
    padding: 0px 25px 0px 25px;
}

.recommendation-box > p {
    color: white;
}

.recommendation-box > .recommendation-text {
    color: white;
    background-color: #414141;
    font-size: 17px;
    border-radius: 7px;
    margin: 10px 2.5px 10px 2.5px;
}

.recommendation-box>.recommendation-text > p {
    padding: 9px;
}

/* AUTO-ANSWER */
.auto-answer {
    display: none;
}

/* TUNE-TONE */
.tune-tone {
    display: none;
}

.final-answer {
    display: none;
}

@media screen and (max-width: 780px) {
    body {
        margin-top: 10px;
    }
}